h1 {
  font-size: 100px;
  text-align: center;
  color: black;
}
body {
  background-image: url("IMG_0022.jpg");
  background-size: cover;
  }
img {
  margin-right: 40%;
  margin-left: 10%;
  width: 150px;
}
table{
  margin-left: 25%;

}
.aaa1{
  font-size: 50px;
  color: black;
}
.aaa2{
  font-size: 50px;
  color: black;
}

button
{
font-size: 20px;
padding: 5px;
  background-color: DodgerBlue;
  color :white;
}
.asd{
  margin-left:46%;
}
